<div id="page">
	
  <h1>{{ page.title }}</h1>

  {{ content }}

  <ul class="tag_box inline">
    {% assign categories_list = page.categories %}  
    {% include JB/categories_list_nonum %}
  </ul>

  <div class="sharing">
     {% include custom/twitter_sharing.html %}
  </div>

  <address class="signature">
    <a class="author" href="{{ HOME_PATH }}">{{ site.author.name }}</a> 
    <span class="date">{{ page.date | date_to_long_string }}</span>
    <span class="location">{{ page.location }}</span>
  </address>

  <div class="prev-next">
  {% if page.next %}
    <a href="{{ page.next.url }}" class="next" title="{{ page.next.title }}">{{ page.next.title }} &rarr;</a>
  {% endif %}
  {% if page.previous %}
    <a href="{{ page.previous.url }}" class="prev" title="{{ page.previous.title }}">&larr; {{ page.previous.title }}</a>
  {% endif %}
  </div>
</div><!-- End Page -->

{% include JB/comments %}
